# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python

# Environments
.env
.venv
.env/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Streamlit secrets
.streamlit/secrets.toml

# files
*.pdf
*.jpg

# Dataset
resume_dataset/

# SQLite3 database
data/resume_results.db

#Local
streamlit_client.py